In [1]:
import pandas as pd
from sklearn import linear_model

In [2]:
df=pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv")

In [4]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,1
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,1
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,1
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,1
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,2
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,2
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,2
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,2
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,1
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,1

In [5]:
x=df[['year','selling_price','km_driven']]
x

      year  selling_price  km_driven
0     2007          60000      70000
1     2007         135000      50000
2     2012         600000     100000
3     2017         250000      46000
4     2014         450000     141000
...    ...            ...        ...
4335  2014         409999      80000
4336  2014         409999      80000
4337  2009         110000      83000
4338  2016         865000      90000
4339  2016         225000      40000

[4340 rows x 3 columns]

In [6]:
y=df[['owner']]
y

      owner
0         1
1         1
2         1
3         1
4         2
...     ...
4335      2
4336      2
4337      2
4338      1
4339      1

[4340 rows x 1 columns]

In [8]:
model=linear_model.LinearRegression()

In [9]:
model.fit(x,y)

LinearRegression()

In [10]:
model.intercept_

array([123.47666985])

In [11]:
model.coef_

array([[-6.06623802e-02, -4.11537314e-08,  1.95641063e-06]])

In [12]:
model.predict([[2014,450000,141000]])

array([[1.55997081]])