In [19]:
import pandas as pd

In [20]:
df=pd.read_csv("car.csv")
df

    User ID  Gender  Age  Estimated Salary  Purchased
0         1    Male   56             20000          0
1         2    Male   43             34000          0
2         3  Female   25             43000          0
3         4  Female   46             54000          1
4         5    Male   76             78000          1
5         6    Male   32             66700          1
6         7  Female   22             45000          0
7         8    Male   45             13000          0
8         9  Female   33             30000          1
9        10  Female   18             50000          0
10       11  Female   25             86000          1
11       12  Female   38             57000          1
12       13    Male   45             65000          1
13       14    Male   55             43000          1
14       15  Female   43             45000          1
15       16  Female   24             55000          0
16       17  Female   54             10000          0
17       18    Male   20             40000          0
18       19    Male   48             20000          0
19       20    Male   46             52000          1
20       21    Male   33             77000          1
21       22    Male   32             50000          1

In [21]:
X=df.iloc[:,[2,3]].values

In [22]:
X

array([[   56, 20000],
       [   43, 34000],
       [   25, 43000],
       [   46, 54000],
       [   76, 78000],
       [   32, 66700],
       [   22, 45000],
       [   45, 13000],
       [   33, 30000],
       [   18, 50000],
       [   25, 86000],
       [   38, 57000],
       [   45, 65000],
       [   55, 43000],
       [   43, 45000],
       [   24, 55000],
       [   54, 10000],
       [   20, 40000],
       [   48, 20000],
       [   46, 52000],
       [   33, 77000],
       [   32, 50000]], dtype=int64)

In [23]:
Y=df.iloc[:,4].values

In [24]:
Y

array([0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1],
      dtype=int64)

In [58]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=15)

In [59]:
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=3)
model.fit(X_train,Y_train)

KNeighborsClassifier(n_neighbors=3)

In [60]:
Y_pred=model.predict(X_test)

In [61]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_pred)*100

80.0

In [63]:
new_data=[[34,78000]]

In [64]:
new_prediction=model.predict(new_data)
new_prediction

array([1], dtype=int64)