In [21]:
import pandas as pd

In [22]:
df=pd.read_csv("decisionTree_computer.csv")
df

    Age  Salary  Purchased
0    19   19000          0
1    35   20000          0
2    26   43000          0
3    27   57000          0
4    19   76000          0
5    27   58000          0
6    27   84000          0
7    32  150000          1
8    25   33000          0
9    35   65000          0
10   26   80000          0
11   26   52000          0
12   20   86000          0
13   32   18000          0
14   18   82000          0
15   29   80000          0
16   47   25000          1
17   45   26000          1
18   46   28000          1
19   48   29000          1
20   45   22000          1
21   47   49000          1
22   48   41000          1
23   45   22000          1
24   46   23000          1
25   47   20000          1
26   49   28000          1
27   47   30000          1
28   29   43000          0
29   31   18000          0
30   31   74000          0
31   27  137000          1
32   21   16000          0
33   28   44000          0
34   27   90000          0
35   35   27000          0
36   33   28000          0
37   30   49000          0
38   26   72000          0
39   27   31000          0
40   27   17000          0
41   33   51000          0
42   35  108000          0
43   30   15000          0
44   28   84000          0
45   23   20000          0
46   25   79000          0
47   27   54000          0
48   30  135000          1

In [23]:
X=df.iloc[:,[0,1]].values
X

array([[    19,  19000],
       [    35,  20000],
       [    26,  43000],
       [    27,  57000],
       [    19,  76000],
       [    27,  58000],
       [    27,  84000],
       [    32, 150000],
       [    25,  33000],
       [    35,  65000],
       [    26,  80000],
       [    26,  52000],
       [    20,  86000],
       [    32,  18000],
       [    18,  82000],
       [    29,  80000],
       [    47,  25000],
       [    45,  26000],
       [    46,  28000],
       [    48,  29000],
       [    45,  22000],
       [    47,  49000],
       [    48,  41000],
       [    45,  22000],
       [    46,  23000],
       [    47,  20000],
       [    49,  28000],
       [    47,  30000],
       [    29,  43000],
       [    31,  18000],
       [    31,  74000],
       [    27, 137000],
       [    21,  16000],
       [    28,  44000],
       [    27,  90000],
       [    35,  27000],
       [    33,  28000],
       [    30,  49000],
       [    26,  72000],
       [    27,  31000],
       [    27,  17000],
       [    33,  51000],
       [    35, 108000],
       [    30,  15000],
       [    28,  84000],
       [    23,  20000],
       [    25,  79000],
       [    27,  54000],
       [    30, 135000]], dtype=int64)

In [24]:
Y=df.iloc[:,2].values
Y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1], dtype=int64)

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=10)

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
st_X=StandardScaler()

In [28]:
X_train=st_X.fit_transform(X_train)

In [29]:
X_test=st_X.transform(X_test)

In [30]:
X_test

array([[-0.28921772, -0.02105085],
       [ 1.24193491, -0.83950788],
       [-0.28921772, -1.05170045],
       [ 0.01701281,  0.0395756 ],
       [-0.79960193,  0.88834585],
       [ 1.24193491, -0.83950788],
       [-0.59544824,  0.22145494],
       [-0.18714088,  0.73677974],
       [-0.08506403,  3.04058472],
       [-0.59544824,  1.03991197],
       [-0.69752509,  0.67615329],
       [-0.69752509, -0.20293019],
       [-0.59544824, -0.56668887]])

In [31]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(criterion='entropy', random_state=0)
model.fit(X_train,Y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [32]:
Y_pred=model.predict(X_test)

In [33]:
Y_pred

array([0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [35]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,Y_pred)

In [36]:
cm

array([[10,  0],
       [ 0,  3]], dtype=int64)

In [37]:
from sklearn import metrics
metrics.accuracy_score(Y_test,Y_pred)*100

100.0