In [11]:
import pandas as pd
from sklearn import linear_model

In [12]:
df=pd.read_csv("insurance.csv",usecols=['bmi','charges'])

In [13]:
df

        bmi      charges
0    27.900  16884.92400
1    33.770   1725.55230
2    33.000   4449.46200
3    22.705  21984.47061
4    28.880   3866.85520
..      ...          ...
494  25.700  17942.10600
495  27.930   1967.02270
496  23.600   4931.64700
497  28.700   8027.96800
498  23.980   8211.10020

[499 rows x 2 columns]

In [14]:
new_df=df.drop('bmi',axis=1)
new_df

         charges
0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
..           ...
494  17942.10600
495   1967.02270
496   4931.64700
497   8027.96800
498   8211.10020

[499 rows x 1 columns]

In [15]:
model=linear_model.LinearRegression()

In [17]:
model.fit(new_df,df.bmi)

LinearRegression()

In [18]:
model.predict([[15]])

array([29.44893217])