In [6]:
import pandas as pd
from sklearn import linear_model

In [7]:
df=pd.read_csv("prices-split.csv")

In [8]:
df

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0
...,...,...,...,...,...,...,...
851259,2016-12-30,ZBH,103.309998,103.199997,102.849998,103.930000,973800.0
851260,2016-12-30,ZION,43.070000,43.040001,42.689999,43.310001,1938100.0
851261,2016-12-30,ZTS,53.639999,53.529999,53.270000,53.740002,1701200.0
851262,2016-12-30,AIV,44.730000,45.450001,44.410000,45.590000,1380900.0
851263,2016-12-30,FTV,54.200001,53.630001,53.389999,54.480000,705100.0

In [12]:
x=df[['open','close','low','high']]

In [13]:
x

              open       close         low        high
0       123.430000  125.839996  122.309998  126.250000
1       125.239998  119.980003  119.940002  125.540001
2       116.379997  114.949997  114.930000  119.739998
3       115.480003  116.620003  113.500000  117.440002
4       117.010002  114.970001  114.089996  117.330002
...            ...         ...         ...         ...
851259  103.309998  103.199997  102.849998  103.930000
851260   43.070000   43.040001   42.689999   43.310001
851261   53.639999   53.529999   53.270000   53.740002
851262   44.730000   45.450001   44.410000   45.590000
851263   54.200001   53.630001   53.389999   54.480000

[851264 rows x 4 columns]

In [14]:
y=df[['volume']]

In [15]:
y

           volume
0       2163600.0
1       2386400.0
2       2489500.0
3       2006300.0
4       1408600.0
...           ...
851259   973800.0
851260  1938100.0
851261  1701200.0
851262  1380900.0
851263   705100.0

[851264 rows x 1 columns]

In [16]:
model=linear_model.LinearRegression()

In [17]:
model.fit(x,y)

LinearRegression()

In [18]:
model.intercept_

array([6812781.02558696])

In [19]:
model.coef_

array([[  30308.59206311,  -63530.46720542, -687026.84656478,
         685006.20780038]])

In [20]:
model.predict([[117.010002,114.970001,114.089996,117.330002]])

array([[5043981.12013369]])