In [16]:
import pandas as pd
from sklearn import linear_model

In [17]:
df=pd.read_csv("Student_Performance.csv",usecols=['Hours Studied','Sleep Hours'])

In [18]:
df

      Hours Studied  Sleep Hours
0                 7            9
1                 4            4
2                 8            7
3                 5            5
4                 7            8
...             ...          ...
9995              1            4
9996              7            8
9997              6            8
9998              9            7
9999              7            8

[10000 rows x 2 columns]

In [19]:
new_df=df.rename(columns= {"Hours Studied": "study",
"Sleep Hours":"sleep"})

In [20]:
new_df

      study  sleep
0         7      9
1         4      4
2         8      7
3         5      5
4         7      8
...     ...    ...
9995      1      4
9996      7      8
9997      6      8
9998      9      7
9999      7      8

[10000 rows x 2 columns]

In [21]:
sleep=new_df.drop('sleep',axis=1)
sleep

      study
0         7
1         4
2         8
3         5
4         7
...     ...
9995      1
9996      7
9997      6
9998      9
9999      7

[10000 rows x 1 columns]

In [22]:
model=linear_model.LinearRegression()

In [23]:
model.fit(sleep,new_df.sleep)
#calculate a and b

LinearRegression()

In [24]:
model.predict([[52]])
#predicting the value of x

array([6.56893619])

In [25]:
a=model.intercept_
a

6.526528088468047

In [26]:
b=model.coef_[0]

In [27]:
b

0.0008155403737213007