In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("temperature1.csv")

In [3]:
df

   Day  Temp  Temp.1
0  1.0  65.0    45.0
1  2.0  23.0    65.0
2  3.0   8.0    12.0
3  4.0   NaN     8.0
4  5.0  38.5    17.0
5  6.0  45.1     NaN
6  NaN   NaN    34.6
7  8.0   NaN    10.1