In [4]:
import pandas as pd
from sklearn import linear_model

In [5]:
df=pd.read_csv("weatherHistory.csv")

In [6]:
df

       Humidity  WindSpeed
0          0.89        251
1          0.86        259
2          0.89        204
3          0.83        269
4          0.83        259
...         ...        ...
96448      0.43         31
96449      0.48         20
96450      0.56         30
96451      0.60         20
96452      0.61         39

[96453 rows x 2 columns]

In [7]:
new_df=df.drop('WindSpeed',axis=1)
new_df

       Humidity
0          0.89
1          0.86
2          0.89
3          0.83
4          0.83
...         ...
96448      0.43
96449      0.48
96450      0.56
96451      0.60
96452      0.61

[96453 rows x 1 columns]

In [10]:
model=linear_model.LinearRegression()

In [13]:
model.fit(new_df,df.Humidity)

LinearRegression()

In [14]:
model.predict([[25]])

array([25.])