In [36]:
import pandas as pd

In [37]:
df = pd.read_csv(r"C:\A7x\ML\dirver_dataset.csv")

In [38]:
df

    id  mean_dist_day  mean_over_speed_perc
0    2          71.24                    28
1    3          52.53                    25
2    4          64.54                    27
3    5          55.69                    22
4    6          54.58                    25
..  ..            ...                   ...
74  76          54.06                    20
75  77          72.91                    30
76  78          61.92                    40
77  79          44.20                    24
78  80          60.75                    39

[79 rows x 3 columns]

In [39]:
from sklearn.cluster import KMeans

In [40]:
model = KMeans(n_clusters=3)

In [41]:
model.fit(df)

KMeans(n_clusters=3)

In [42]:
df['clusters']=model.labels_

In [43]:
df

    id  mean_dist_day  mean_over_speed_perc  clusters
0    2          71.24                    28         1
1    3          52.53                    25         1
2    4          64.54                    27         1
3    5          55.69                    22         1
4    6          54.58                    25         1
..  ..            ...                   ...       ...
74  76          54.06                    20         2
75  77          72.91                    30         2
76  78          61.92                    40         2
77  79          44.20                    24         2
78  80          60.75                    39         2

[79 rows x 4 columns]

In [44]:
df.to_csv(r"C:\A7x\ML\n2.csv")