In [14]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [15]:
df = pd.read_csv(r"D:\MCAA7\ML\MultiLR\age_income.csv")

In [16]:
df

    age  experience  income
0    25           1   30450
1    30           3   35670
2    47           2   31580
3    32           5   40130
4    43          10   47830
5    51           7   41630
6    28           5   41340
7    33           4   37650
8    37           5   40250
9    39           8   45150
10   29           1   27840
11   47           9   46110
12   54           5   36720
13   51           4   34800
14   44          12   51300
15   41           6   38900
16   58          17   63600
17   23           1   30870
18   44           9   44190
19   37          10   48700

In [17]:
X = df[{'age','experience'}]
Y = df[{'income'}]

In [18]:
model = linear_model.LinearRegression()
model.fit(X,Y)

LinearRegression()

In [19]:
model.predict([[50,12]])

array([[52250.77238414]])

In [25]:
b0 = model.intercept_
b0

array([31261.6898541])

In [26]:
b1 = model.coef_
b1

array([[ -99.19535546, 2162.40419192]])